<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
       <img src="../assets/icon/favicon.png" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cadastro Usuários</ion-title>
    </ion-toolbar>
  </ion-header> 

  <ion-content padding>
  
  <!--  Formulario adicionar -->
  <form (ngSubmit)="salvarUsuario()">

    <ion-item>
      <ion-label>Nome:</ion-label>
      <ion-input type="text" [(ngModel)]="usuarioCadastro.nome" name="nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>idade:</ion-label>
      <ion-input [(ngModel)]="usuarioCadastro.idade" name="idade"></ion-input>
    </ion-item>

    <section class="full-width">
      <ion-button expand="full" type="submit" color="secondary">Salvar</ion-button>
    </section>
     
  </form>
  
  <!-- Exibindo os usuarios lista -->
    <ion-list *ngFor="let usuario of usuarios"> 
      <ion-item>
        
        {{ usuario.nome }} - {{ usuario.idade }}
       
        <ion-button (click)="atualizarForm(usuario)" expand="full" type="submit" color="light">Editar</ion-button>
      
        <ion-button (click)="deletarUsuario(usuario._id)"  expand="full" type="submit" color="danger">Deletar</ion-button>
      
      </ion-item>
    </ion-list>

  </ion-content>


  

</ion-content>
